<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8" />
    <title>lesson5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- CSS -->
    <link href="styles/reset.css" rel="stylesheet" />
    <link href="styles/myStyle.css" rel="stylesheet" />
</head>

<body>
    <main>
        <section id="hero">
            <div id="QuestionBubble">
                אמא, מה זה
                <span id="bubbleTopic">מוות?</span>
            </div>
        </section>
    </main>
</body>

</html>