<!DOCTYPE html>
<html lang="he" dir="rtl">

<head>
    <meta charset="utf-8"/>
    <title>lesson5</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">

    <!-- CSS -->
    <link href="styles/reset.css" rel="stylesheet"/>
    <link href="styles/myStyle.css" rel="stylesheet"/>
</head>

<body>
<div id="container">
    <section id="nested elements">
    <h1>אלמנטים מקוננים</h1>
    <div id="first-div">
        <p>הטקסט באלמנט הראשון</p>
        <div id="second-div">
            <p>הטקסט באלמנט השני</p>
            <div id="third-div">
                <p>הטקסט הפנימי ביותר</p>
            </div>
        </div>
    </div>
    <p>טקסט מחוץ לקופסאות</p>

    <hr>
    <h2>תרגיל 1 - אלמנטים מקוננים</h2>
    <div class="pricing-container">

        <div class="card basic">
            <h2>חבילה בסיסית</h2>
            <p>גישה מוגבלת לחלק מהתכנים.</p>
            <button>בחר חבילה</button>
        </div>

        <div class="card premium">
            <h2>חבילת פרימיום</h2>
            <p>גישה <span>מלאה</span> לכל התכנים!</p>
            <button>בחר חבילה</button>
        </div>
    </div>
    </section>
    
    
    <section id="display-position-zindex">
        <hr>
        <h1>3 כלים לעימוד אלמנטים</h1>
        <h2>תרגיל 2 - 3 כלים לעימוד אלמנטים</h2>
        <div class="avatar-container">
            <div class="profile-pic">😀</div>
            <div class="vip-badge">VIP</div>
        </div>

        <div class="user-details">
            <span class="name">ישראל ישראלי</span>
            <span class="role">מנהל מערכת</span>
        </div>
    </section>
    
    <section id="box model">
    <hr>
    <h1>מודל הקופסה</h1>
    <div class="bg">
        <div class="box">
            <div class="content">
                אזור התוכן (Content)
            </div>
        </div>
    </div>
        
        <h2>תרגיל 3 - מודל הקופסה</h2>
        <div class="store-layout">

            <div class="product-card">
                <img src="images/runningShoe.png" alt="נעל ספורט">
                <h3>נעלי ריצה Pro</h3>
                <p>₪299</p>
                <button>הוסף לעגלה</button>
            </div>

            <div class="product-card">
                <img src="images/sneakersShoe.png" alt="נעל קז'ואל">
                <h3>סניקרס אורבניות</h3>
                <p>₪199</p>
                <button>הוסף לעגלה</button>
            </div>
     </div>
    </section>       
        
        
</div>
</body>
</html>