@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans+Hebrew:wght@100..800&display=swap');

#hero {
    width: 100vw;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

#QuestionBubble {
    display: inline-block;
    font-family: "Playpen Sans Hebrew";
    font-size: 72px;

    padding: 6px 24px;
    background: lightgray;
    border-radius: 100px;
}

#bubbleTopic {
    font-family: "Playpen Sans Hebrew";
    color: black;
    font-size: 108px;
    font-weight: bold;
}